__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
*.db
*.sqlite3
*.log
.env
.venv/
env/
venv/
.idea/
.vscode/
backend/uploaded_files/*
!backend/uploaded_files/.gitkeep
backend/reports_generated/*
!backend/reports_generated/.gitkeep
*.db-shm
*.db-wal
*.db-journal
1.md


